<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Beauty Studio Style</title>{% endblock %}
    <link rel="icon" type="image/png" href="../static/images/nail-polish.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69d933cef6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}" defer></script>


</head>
<body class="css-selector">
    <section class="nav-wrapper">
        <div class="nav-logo-name"><a href="{{ url_for('home') }}">Beauty Studio Style</a></div>
        <nav class="topnav">
            <ul class="nav-list">
                <li class="not-dropdown"><a href="{{ url_for('home') }}">Начало</a></li>
                <li class="not-dropdown"><a href="{{ url_for('pricing') }}">Цени</a></li>
                <li class="dropdown" id="dropdown-last-item">
                    <a class="drop-btn" id="services-btn" href="#">Услуги <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="#">За Нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="dropdown-more">
                    <a class="drop-btn" id="more-btn" href="#">Още <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="#">За Нас</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="location">
            <div class="street">
                <p>Пловдив</p>
                <p>ул.Браила 8</p>
            </div>
            <div class="loc-img"><i class="fa-solid fa-location-dot"></i></div>
        </div>
    </section>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>