<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Beauty Studio Style</title>{% endblock %}
    <link rel="icon" type="image/png" href="../static/images/nail-polish.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69d933cef6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}" defer></script>


</head>
<body class="css-selector">
<section class="nav-wrapper">
    <div class="nav-logo-name"><a href="{{ url_for('home') }}">Beauty Studio Style</a></div>
    <nav>
        <ul class="nav-list">
            <li class="not-dropdown">
                <a class="main-btn" href="#">Начало</a>
            </li>

            <li class="not-dropdown">
                <a class="main-btn" href="#">Цени</a>
            </li>

            <li class="dropdown">
                <a class="main-btn" href="#">Услуги <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown-content-level-one">
                    <li class="dropdown">
                        <a href="#">Фризьорски услуги <i class="fa-solid fa-angle-down"></i></a>
                        <ul class="dropdown-content-level-two">
                            <li class="dropdown">
                                <a href="#">Подстригване</a>
                                <ul class="dropdown-content-level-three">
                                    <li class="not-dropdown">
                                        <a href="#">Мъжко</a>
                                    </li>
                                    <li class="not-dropdown">
                                        <a href="#">Дамско</a>
                                    </li>
                                    <li class="not-dropdown">
                                        <a href="#">Детско</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="not-dropdown">
                                <a href="#">Стилиране</a>
                            </li>
                            <li class="not-dropdown">
                                <a href="#">Боядисване</a>
                            </li>
                            <li class="not-dropdown">
                                <a href="#">Екстеншъни</a>
                            </li>
                            <li class="not-dropdown">
                                <a href="#">Третиране</a>
                            </li>
                        </ul>
                    </li>
                    <li class="not-dropdown">
                        <a href="#">Грижа за ноктите</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#">Още</a>
                <ul class="dropdown-content-level-one">
                    <li class="not-dropdown">
                        <a href="#">За нас</a>
                    </li>
                    <li class="not-dropdown">
                        <a href="#">Контакти</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="location">
        <div class="street">
            <p>Пловдив</p>
            <p>ул.Браила 8</p>
        </div>
        <div class="loc-img"><i class="fa-solid fa-location-dot"></i></div>
    </div>
</section>
<section class="carousel-wrapper">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
                    aria-current="true"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption-start">
                        <h1>Beauty Studio Style</h1>
                        <p class="opacity-75">Ние правим всичко възможно по силите си, за да може да се почувстваш уверен и атрактивен</p>
                        <span class="hair-img-wrapper0"><img src="../static/images/fashion-model7.jpg" alt="img"/></span>
                    </div>
                </div>
            </div>
            <div class="carousel-item active carousel-item-start">
                <span class="hair-img-wrapper1"><img src="../static/images/hair-model2.jpg" alt="img"/></span>
                <span class="hair-img-wrapper2"><img src="../static/images/hair-model3.jpg" alt="img"/></span>
                <span class="hair-img-wrapper3"><img src="../static/images/hair-model4.jpg" alt="img"/></span>
                <span class="hair-img-wrapper4"><img src="../static/images/hair-model5.jpg" alt="img"/></span>
                <span class="hair-img-wrapper5"><img src="../static/images/hair-model6.jpg" alt="img"/></span>
                <div class="container">
                    <div class="carousel-caption1">
                        <p>Довери се на професионалистите</p>
                        <h1>Боядисване на коса, независимо от степента на сложност</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-item-next carousel-item-start">
                <span class="manicure-img-wrapper"><img src="../static/images/manicure1.jpg" alt="manicure"/></span>
                <div class="container">
                    <div class="carousel-caption-end">
                        <h1>Перфектен маникюр</h1>
                        <p>Старателна грижа за вашите нокти, извършена прецизно от нашите маникюристи</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>