{% extends 'base.html' %}
{% block title %} <title>Начало Beauty Studio Style</title> {% endblock %}
{% block content %}
    <section class="carousel-wrapper">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                        class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                        class="active"
                        aria-current="true"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                         aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                    </svg>
                    <div class="container">
                        <div class="carousel-caption-start">
                            <h1>Beauty Studio Style</h1>
                            <p class="opacity-75">Ние правим всичко възможно по силите си, за да може да се почувстваш
                                уверен и атрактивен</p>
                            <span class="hair-img-wrapper0"><img src="../static/images/fashion-model7.jpg"
                                                                 alt="img"/></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active carousel-item-start">
                    <span class="hair-img-wrapper1"><img src="../static/images/hair-model2.jpg" alt="img"/></span>
                    <span class="hair-img-wrapper2"><img src="../static/images/hair-model3.jpg" alt="img"/></span>
                    <span class="hair-img-wrapper3"><img src="../static/images/hair-model4.jpg" alt="img"/></span>
                    <span class="hair-img-wrapper4"><img src="../static/images/hair-model5.jpg" alt="img"/></span>
                    <span class="hair-img-wrapper5"><img src="../static/images/hair-model6.jpg" alt="img"/></span>
                    <div class="container">
                        <div class="carousel-caption1">
                            <p>Довери се на професионалистите</p>
                            <h1>Боядисване на коса, независимо от степента на сложност</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-next carousel-item-start">
                    <span class="manicure-img-wrapper"><img src="../static/images/manicure1.jpg" alt="manicure"/></span>
                    <div class="container">
                        <div class="carousel-caption-end">
                            <h1>Перфектен маникюр</h1>
                            <p>Старателна грижа за вашите нокти, извършена прецизно от нашите маникюристи</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="service-and-price-text">
        <p>Какво можем да предложим</p>
        <h3>Услуги и цени</h3>
    </section>
    <section class="second-carousel-wrapper">
        <div class="carousel-container">
            <div class="carousel-view">
                <button id="prev-btn" class="prev-btn" disabled>
                    <svg viewBox="0 0 512 512" width="20" title="chevron-circle-left">
                        <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/>
                    </svg>
                </button>
                <div id="item-list" class="item-list">
                    <a class="item-link"
                       href="https://www.w3schools.com/cssref/tryit.php?filename=trycss_sel_after_style">
                        <img id="item" class="item" src="../static/images/hair-model8.jpg" alt="hair-model"/>
                        <div class="inner-service-text">
                            <p>Подстригване</p>
                            <p>Стилиране</p>
                            <p>Прически</p>
                        </div>
                        <span class="square-icon"></span>
                        <span class="plus-icon"><i class="fa-sharp fa-thin fa-plus"></i></span>

                    </a>
                    <a class="item-link"
                       href="https://www.w3schools.com/cssref/tryit.php?filename=trycss_sel_after_style">
                        <img id="item" class="item"
                             src="../static/images/hair-model.jpg" alt="hair-dying"/>
                        <div class="inner-service-text">
                            <p>Всички видове</p>
                            <p>боядисване</p>
                        </div>
                        <span class="square-icon"></span>
                        <span class="plus-icon"><i class="fa-sharp fa-thin fa-plus"></i></span>
                    </a>
                    <a class="item-link"
                       href="https://www.w3schools.com/cssref/tryit.php?filename=trycss_sel_after_style">
                        <img id="item" class="item"
                             src="../static/images/hair-treatment3.jpg" alt="hair-therapy"/>
                        <div class="inner-service-text">
                            <p>Грижа за коса &</p>
                            <p>Терапия</p>
                        </div>
                        <span class="square-icon"></span>
                        <span class="plus-icon"><i class="fa-sharp fa-thin fa-plus"></i></span>
                    </a>
                    <a class="item-link"
                       href="https://www.w3schools.com/cssref/tryit.php?filename=trycss_sel_after_style">
                        <img id="item" class="item"
                             src="../static/images/manicure.jpg" alt="manicure"/>
                        <div class="inner-service-text">
                            <p>Маникюр</p>
                            <p>Педикюр</p>
                        </div>
                        <span class="square-icon"></span>
                        <span class="plus-icon"><i class="fa-sharp fa-thin fa-plus"></i></span>
                    </a>


                </div>
                <button id="next-btn" class="next-btn">
                    <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
                        <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"/>
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <div class="first-pag-line" id="first-line"></div>
    <div class="second-pag-line" id="second-line"></div>
    <div class="pagination-items">
        <p id="first-pag-item">1</p>
        <p id="slash">/</p>
        <p id="second-pag-item">2</p>
    </div>
    <section class="our-works">
        <div class="our-works-wrapper">
            <div class="instagram-link">
                <p>Вдъхновение</p>
                <h3>Нашето творчество</h3>
                <p id="instagram-link-second-p">Може да проверите работата на нашите професионалисти в Instagram
                    страницата
                    ни</p>
                <a href="https://www.instagram.com/friziorski_salon_style/" target="_blank"><i
                        class="fa-brands fa-instagram"></i> Instagram page</a>
            </div>
            <div class="instagram-photos">
                <span><img src="../static/images/./hair-model9.jpg" alt="ig-image"></span>
                <span><img src="../static/images/./hair-model10.jpg" alt="ig-image"></span>
                <span><img src="../static/images/manicure2.jpg" alt="ig-image"></span>
            </div>
        </div>
    </section>
    <section class="google-map">
        <p class="location-studio">Местоположение</p>
        <p class="location-studio-dropdown">Нашите салони</p>
        <div class="location-dropdown">
            <i class="fa-solid fa-location-dot"></i> Пловдив <i class="fa-solid fa-angle-down" id="angle"></i>
        </div>
        <div class="location-options" hidden>
            <p>Пловдив</p>
        </div>
        <div class="google-map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.758378929313!2d24.741113012119783!3d42.15545704788266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd194263ed1db%3A0xa4ce1caf68c645e0!2z0YPQuy4g4oCe0JHRgNCw0LjQu9Cw4oCcIDgsIDQwMDMg0JrRitGA0YjQuNGP0LrQsCwg0J_Qu9C-0LLQtNC40LI!5e0!3m2!1sbg!2sbg!4v1701444761507!5m2!1sbg!2sbg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <section class="network-salon">
        <div class="welcome-text">
            <p>Студио</p>
            <h3>BEAUTY STUDIO STYLE в Пловдив</h3>
            <p>Добре дошли в света на красотата и грижата! BEAUTY STUDIO STYLE може да осигури на своите клиенти всички
                видове разкрасителни процедури.</p>
            <p>Ако си търсите студио за красота с готина атмосфера, качествено извършане на услуги, маркови продукти и
                опитни професионалисти, които
                могат да задоволят дори и най-капризните ти желания - дошли сте на правилното място! Също така
                наблюдаваме постоянен растеж на нашите редовни клиенти всяка година и
                ето няколко причини защо.
            </p>
        </div>
        <div class="reasons">
            <h4>Грижа в 2/4 ръце</h4>
            <p id="reasons-first-p">BEAUTY STUDIO STYLE подхожда индивидуално към всеки един клиент и умело прилага
                всички услуги. Нашите клиенти могат да изберат една или две наведнъж процедури, които
                да бъдат извършени. Така ще запазите най-ценния си ресурс, а именно вашето време.
            </p>
            <p id="reasons-first-img"><img src="../static/images/manicure3.jpg" alt="img"/></p>
            <div id="reasons-location-text">
                <h4>Удобна локация</h4>
                <p>Клиентите на BEAUTY STUDIO STYLE имат възможността освен да избират удобно време за тях, ами и
                    наистина удобна локация.</p>
            </div>
            <div id="reasons-up-to-date">
                <h4>В крачка с времето</h4>
                <p>Нашите фризьор и маникюрист имат изкарани подходящи обучения и практически опит. Допълнително, следим
                    всички актуални тенденции и предложения от световните марки.
                    Също така, нашите експерти по красота постоянно се усъвършенстват като учат нови техники и методи на
                    различни семинари.
                </p>
            </div>
            <p id="reasons-second-img"><img src="../static/images/hair-model11.jpg" alt="img"/></p>
        </div>
        <div class="different-services-bullets">
            <p>Различни видове услуги</p>
            <h4>Ние специализираме в комплексни техники за боядисване, като например боядисване от черно към русо и Airtouch. Също така предлагаме и изключителен маникюр и педикюр.</h4>
            <ul>
                <li>Поправяме грешки допуснати в цвета на косата.</li>
                <li>Възстановяваме увредена коса чрез терапия.</li>
                <li>Подготвяме те за специални събития.</li>
                <li>Напълно преобразяваме или подобряваме твоята визия като наблегнем върху натуралната ти красота.</li>
                <li>Помагаме като поддържаме твоята визия винаги добре изглеждаща.</li>
                <li>Всяко едно усилие, направено от нас, е за да може да се почувстваш уверен и атрактивен в собственото си тяло.</li>
            </ul>
            <p id="different-services-img"><img src="../static/images/fashion-model1.jpg" alt="model"/></p>

        </div>
    </section>
    <section class="extended-service-list">
        <p id="approach">Съчетаване</p>
        <h4>Списък с услуги</h4>
        <div id="hairdressing-service">
            <p class="service-name">Фризьорски услуги</p>
            <p class="service-desc"><span style="font-weight: bold">Фризьорски услуги:</span> предлагаме всички видове грижа за коса - от мъжки и дамски прически и стилиране до сложни техники на боядисване,
             и третиране на косата.</p>
        </div>
        <div id="nail-service">
            <p class="service-name">Маникюрски услуги</p>
            <p class="service-desc"><span style="font-weight: bold">Маникюрски услуги:</span> маникюр, педикюр, изграждане, дизайн.</p>
        </div>
    </section>
    <section class="perfection-desc">
        <div class="perfection-text">
            <h4>Перфекционизъм във всяка една точка - от интериора до ножиците</h4>
            <p>Комфортно, красиво, оборудвано студио, където можеш да получиш всякаква процедура - от грижата за вашата коса до ноктите - която ще бъде изпълнена в приятна атмосфера и добри
            условия за вас като клиент.</p>
            <p>Всеки един член от нашия екип си разбира перфектно от работата - дали ще е боядисване с Hollywood ефект или изграждане на нокти и декориране по идея на клиента.</p>
            <p>Разполагаме с качествени продукти и материали (за третиране на коса) само от одобрени брандове на световно ниво, които са лидери в тяхната сфера.</p>
            <p>Използваме професионални инструменти и екипировка, които биват стерилизирани / дезинфекцирани веднага след употреба.</p>
        </div>
        <div class="perfection-img">
            <img src="../static/images/hairdresser.jpg" alt="model">
        </div>
    </section>
{% endblock %}
