{% extends 'base.html' %}
{% block content %}
    {% block title %} <title>Цени Beauty Studio Style</title> {% endblock %}
    <section class="pricing-body">
        <section class="pricing-wrapper">
            <p id="home-price-text-p">Начало / <span>Цени</span></p>
            <article class="pricing-text-and-loc">
                <h3>Цени</h3>
                <div class="pricing-location-dropdown">
                    <i class="fa-solid fa-location-dot"></i>ул.Браила 8, Пловдив
                </div>
            </article>
            <article class="pricing-services">
                <p class="pricing-main-btn">Подстригване Стилиране Прически</p>
                <p class="pricing-main-btn">Всички видове боядисване</p>
                <p class="pricing-main-btn">Третиране и грижа на коса</p>
                <p class="pricing-main-btn">Маникюр Педикюр</p>
                <p class="pricing-main-btn">Всичко за мъжете</p>
            </article>
            <article class="pricing-procedures">
                <p id="procedure-name">Подстригване / Стилиране / Прически</p>
                <div class="procedure-and-price-text">
                    <p>Haircut + blow dry</p>
                    <p>50lv</p>
                </div>
            </article>
        </section>
    </section>
{% endblock %}