footer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background: #0e0d0a;
    padding-bottom: 70px;
    position: relative;
    bottom: 0;
}


footer section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    margin-top: 70px;
}

footer section::after {
    content: '';
    height: 2px;
    width: 101%;
    background: white;
    display: block;
    top: 17px;
    position: relative;

}

#first-p-logo {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

#second-p-logo {
    font-size: 27px;
    font-weight: 100;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    width: 11%;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.icons a {
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}

.icons a:hover {
    color: pink;
}

.contacts a, .footer-services a {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
}

.contacts, .footer-services {
    padding-top: 7px;
}

.contacts a:hover {
    color: pink;
}

.footer-services a:hover {
    color: pink;
}

.all-rights {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    color: #ffffff;
}

footer p {
    color: #ffffff;
}