html {
    height: 100%
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: 'Times New Roman', 'sa', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: gray; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: #f2abb4; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

/* Section under first carousel */
.service-and-price-text {
    background: #f9f9f9;
    padding-bottom: 9px;
    text-align: center;
    padding-top: 120px;
}

.service-and-price-text p {
    font-size: 20px;
    text-transform: uppercase;
    color: #e2af48;
    letter-spacing: 1px;
}

.service-and-price-text h3 {
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 1px;
}

.first-pag-line {
    display: block;
    position: relative;
    height: 3px;
    background: pink;
    bottom: 92px;
    width: 31%;
    left: 19%;
}

.second-pag-line {
    display: block;
    position: relative;
    height: 3px;
    background: gray;
    bottom: 95px;
    width: 31%;
    left: 50%;
}

.pagination-items {
    display: flex;
    position: relative;
    bottom: 86px;
    left: 49%;
    width: 120px;
    margin-top: 8px;
}

.pagination-items p {
    font-size: 18px;
    font-weight: bold;
}

#first-pag-item {
    margin-right: 3px;
}

#second-pag-item {
    margin-left: 3px;
}
