html {
    height: 100%
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    font-family: 'Times New Roman', 'sa', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: gray; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: #f2abb4; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

/* HOME PAGE Section under first carousel */
.service-and-price-text {
    background: #f9f9f9;
    padding-bottom: 9px;
    text-align: center;
    padding-top: 120px;
}

.service-and-price-text p {
    font-size: 20px;
    text-transform: uppercase;
    color: #c48d4d;
    letter-spacing: 1px;
}

.service-and-price-text h3 {
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 1px;
}

/* HOME PAGE pagination lines and numbers */
.first-pag-line {
    display: block;
    position: relative;
    height: 3px;
    background: pink;
    bottom: 92px;
    width: 31%;
    left: 19%;
}

.second-pag-line {
    display: block;
    position: relative;
    height: 3px;
    background: gray;
    bottom: 95px;
    width: 31%;
    left: 50%;
}

.pagination-items {
    display: flex;
    position: relative;
    bottom: 86px;
    left: 49%;
    width: 120px;
    margin-top: 8px;
}

.pagination-items p {
    font-size: 18px;
    font-weight: bold;
}

#first-pag-item {
    margin-right: 3px;
}

#second-pag-item {
    margin-left: 3px;
}

/* HOME PAGE inspiration works */
.our-works {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 510px;
}

.our-works-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 77%;
}

.instagram-link {
    width: 30%;
}

.instagram-link p:nth-child(1) {
    font-size: 20px;
    text-transform: uppercase;
    color: #c48d4d;
    letter-spacing: 1px;
    padding-left: 2px;
}

#instagram-link-second-p {
    width: 264px;
    margin: 25px 0 57px 0;
    font-weight: 400;
    font-size: 19px;

}

.instagram-link h3 {
    font-weight: bold;
    font-size: 33px;
}

.instagram-link a {
    box-shadow: inset 0 0 0 0 pink;
    width: 263px;
    display: block;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 7px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.instagram-link a:hover {
    background: black;
    box-shadow: inset 200px 0 0 0 pink;
}


.instagram-link a i {
    margin-right: 16px;
    font-size: 23px;
}

.instagram-photos {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.instagram-photos span {
    display: block;
    height: 450px;
    width: 300px;
    border-radius: 5px;
}

.instagram-photos span:nth-child(odd) {
    position: relative;
    bottom: 44px
}

.instagram-photos span:nth-child(even) {
    position: relative;
    top: 20px
}


.instagram-photos span img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 16px 3px black;
}

.google-map {
    text-align: center;
    margin-top: 50px;
}

.location-studio {
    color: #c48d4d;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    right: 596px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.location-studio-dropdown {
    font-size: 33px;
    font-weight: bold;
    position: relative;
    right: 576px;
    margin-bottom: 30px;
}

.location-dropdown {
    position: relative;
    bottom: 74px;
    width: 216px;
    left: 510px;
    border: 1px solid #c48d4d;
    border-radius: 5px;
    text-align: left;
    padding: 10px 0 10px 10px;
    font-size: 17px;
    cursor: pointer;
}

.location-dropdown i {
    margin-right: 10px;
}

.location-dropdown #angle {
    margin-left: 73px;
}

.location-options {
    position: relative;
    bottom: 62px;
    width: 216px;
    left: 510px;
    border: 1px solid #c48d4d;
    border-radius: 5px;
    text-align: left;
    padding: 10px 0 10px 10px;
    font-size: 17px;
    cursor: pointer;
}

.location-options p {
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    font-weight: bold;
}

.location-options p:hover {
    color: #c48d4d;
}

.google-map iframe {
    width: 75%;
}

.network-salon {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

.network-salon .welcome-text {
    width: 50%;
    text-align: center;
}

.network-salon .welcome-text p:nth-child(1) {
    color: #c48d4d;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.network-salon .welcome-text h3 {
    font-weight: bold;
    margin-bottom: 38px;
    font-size: 33px;
}

.network-salon .welcome-text p {
    font-size: 18px;
}

.network-salon .reasons {
    width: 75%;
    margin-top: 80px;
    height: 856px;
}

.network-salon .reasons p {
    font-size: 18px;
}

.network-salon .reasons h4 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 25px;
}

.network-salon .reasons #reasons-first-p {
    width: 50%;
    margin-bottom: 80px;
}

.network-salon .reasons #reasons-first-img {
    width: 30%;
    height: 500px;
}

.network-salon .reasons #reasons-first-img img, #reasons-second-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.network-salon .reasons #reasons-second-img {
    position: relative;
    width: 30%;
    bottom: 1087px;
    left: 964px;
    height: 500px;
}


.network-salon .reasons #reasons-location-text {
    width: 30%;
    position: relative;
    left: 484px;
    bottom: 467px;
}

.network-salon .reasons #reasons-up-to-date {
    position: relative;
    width: 50%;
    bottom: 361px;
    left: 484px;
}

.different-services-bullets {
    width: 75%;
    margin-top: 43px;
    height: 600px;
}

.different-services-bullets p {
    color: #c48d4d;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.different-services-bullets h4 {
    width: 50%;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 40px;
}

.different-services-bullets ul {
    padding-left: 40px;
    font-size: 18px;
    width: 50%;
}

.different-services-bullets ul li {
    margin-bottom: 10px;
}

#different-services-img {
    width: 29%;
    height: 500px;
    bottom: 494px;
    position: relative;
    left: 953px;
    border-radius: 8px;
}

#different-services-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.extended-service-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.extended-service-list #approach {
    color: #c48d4d;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.extended-service-list h4 {
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 38px;
}

.extended-service-list #hairdressing-service, #nail-service {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 25px 25px 0 26px;
    align-items: stretch;
    text-align: left;
}

.extended-service-list #hairdressing-service {
    border-top: 2px solid #c48d4d;
    border-bottom: 1px solid #c48d4d;
}

.extended-service-list #nail-service {
    border-top: 1px solid #c48d4d;
    border-bottom: 2px solid #c48d4d;

}

.extended-service-list .service-name {
    font-size: 28px;
    width: 26%;
    text-transform: uppercase;
}

.extended-service-list .service-desc {
    font-size: 18px;
    width: 58%;
}

.perfection-desc {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
    margin-top: 100px;
}

.perfection-desc .perfection-text {
    width: 35%;
}

.perfection-text h4 {
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 39px;
}

.perfection-text p {
    font-size: 18px;
}

.perfection-desc .perfection-img {
    width: 20%;
}

.perfection-desc .perfection-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}